{% extends 'base.html.twig' %}

{% block title %}List of clients{% endblock %}

{% block body %}
    <p><strong>List of clients: press on name and deactivate one of them</strong></p>

    {% for client in clients %}
        {% if client.active %}
            <p><a href={{ path('clientsLogin', {'login': client.login} ) }}>{{ client.login }} </a>  |  Active: {{ client.active }}</p>
        {% else %}
            <p>{{ client.login }} </a>  |  Active: 0  |  Client is not active!</p>
        {% endif%}
    {% endfor %}
{% endblock %}
